In [1]:
import pickle
import numpy as np
import pandas as pd
import datetime
import urllib.request as req
from bs4 import BeautifulSoup

from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()

In [2]:
# JPXのETF一覧ページ
url = 'https://www.jpx.co.jp/equities/products/etfs/issues/01.html'

In [3]:
# 各商品の証券コードを取得
response = req.urlopen(url)
soup = BeautifulSoup(response, "html.parser")

attribute = []
div = soup.find('div', class_='component-normal-table')
table = div.find('table')
rows = table.find_all('tr')

codes = []
for i, row in enumerate(rows):
    row_text = [td.get_text(strip=True) for td in row.select('th, td')]
    if i==0:
        continue
    codes.append(row_text[1]+'.T')
print(len(codes))

260

In [22]:
# 一年のうち取引が行われる日数
YEARLY_TRAIDING_DAYS = 252
# データ取得期間
START = pd.to_datetime('2012-01-01') 
END = pd.to_datetime('2022-12-31')

fname = START.strftime('%Y-%m-%d') + '_' + END.strftime('%Y-%m-%d') + '_' +  'codes.pickle'

In [5]:
# def get_valid_codes(codes):
#     valid_codes = []
#     # 各証券についてデータを取得
#     for code in codes:
#         # 取得期間に証券データが存在しない場合はパスする
#         try:
#             ticker = yf.Ticker(code)
#             ticker.info
#         except:
#             continue
#         # 取得開始の時期に証券が公開されていない場合はパスする
#         if not ticker.history_metadata:
#             continue
#         # if not ticker.history_metadata['tradingPeriods']['pre'] :
#         #     continue
#         firstTradeDate_jst = datetime.datetime.fromtimestamp(ticker.history_metadata['firstTradeDate'])
#         if firstTradeDate_jst > START:
#             continue
#         else:
#             valid_codes.append(code)
#     return valid_codes


# valid_codes = get_valid_codes(codes)

# with open (fname, 'wb') as f:
#     pickle.dump(valid_codes, f)

1596.T: Period '1wk' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']
2850.T: Period '1wk' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', 'ytd', 'max']
1324.T: Period '1wk' is invalid, must be one of ['1d', '5d', '1mo', '3mo', '6mo', '1y', '2y', '5y', '10y', 'ytd', 'max']
2252.T: No data found, symbol may be delisted

['1305.T',
 '1306.T',
 '1308.T',
 '1348.T',
 '1320.T',
 '1321.T',
 '1330.T',
 '1346.T',
 '1329.T',
 '1319.T',
 '1563.T',
 '1551.T',
 '1311.T',
 '1617.T',
 '1618.T',
 '1619.T',
 '1620.T',
 '1621.T',
 '1622.T',
 '1623.T',
 '1624.T',
 '1625.T',
 '1626.T',
 '1627.T',
 '1628.T',
 '1629.T',
 '1630.T',
 '1631.T',
 '1632.T',
 '1633.T',
 '1615.T',
 '1698.T',
 '1343.T',
 '1345.T',
 '1555.T',
 '1322.T',
 '1309.T',
 '1678.T',
 '1559.T',
 '1560.T',
 '1390.T',
 '1385.T',
 '1386.T',
 '1387.T',
 '1388.T',
 '1389.T',
 '1679.T',
 '1546.T',
 '1547.T',
 '1557.T',
 '1552.T',
 '1545.T',
 '1393.T',
 '1324.T',
 '1325.T',
 '1394.T',
 '1680.T',
 '1550.T',
 '1681.T',
 '1554.T',
 '1349.T',
 '1677.T',
 '1328.T',
 '1326.T',
 '1672.T',
 '1540.T',
 '1674.T',
 '1541.T',
 '1682.T',
 '1673.T',
 '1542.T',
 '1675.T',
 '1543.T',
 '1671.T',
 '1699.T',
 '1676.T',
 '1684.T',
 '1685.T',
 '1686.T',
 '1687.T',
 '1688.T',
 '1689.T',
 '1690.T',
 '1691.T',
 '1692.T',
 '1693.T',
 '1694.T',
 '1695.T',
 '1696.T',
 '1697.T']

In [21]:
with open(fname, 'rb') as f:
    valid_codes = pickle.load(f)

['1305.T',
 '1306.T',
 '1308.T',
 '1348.T',
 '1320.T',
 '1321.T',
 '1330.T',
 '1346.T',
 '1329.T',
 '1319.T',
 '1563.T',
 '1551.T',
 '1311.T',
 '1617.T',
 '1618.T',
 '1619.T',
 '1620.T',
 '1621.T',
 '1622.T',
 '1623.T',
 '1624.T',
 '1625.T',
 '1626.T',
 '1627.T',
 '1628.T',
 '1629.T',
 '1630.T',
 '1631.T',
 '1632.T',
 '1633.T',
 '1615.T',
 '1698.T',
 '1343.T',
 '1345.T',
 '1555.T',
 '1322.T',
 '1309.T',
 '1678.T',
 '1559.T',
 '1560.T',
 '1390.T',
 '1385.T',
 '1386.T',
 '1387.T',
 '1388.T',
 '1389.T',
 '1679.T',
 '1546.T',
 '1547.T',
 '1557.T',
 '1552.T',
 '1545.T',
 '1393.T',
 '1324.T',
 '1325.T',
 '1394.T',
 '1680.T',
 '1550.T',
 '1681.T',
 '1554.T',
 '1349.T',
 '1677.T',
 '1328.T',
 '1326.T',
 '1672.T',
 '1540.T',
 '1674.T',
 '1541.T',
 '1682.T',
 '1673.T',
 '1542.T',
 '1675.T',
 '1543.T',
 '1671.T',
 '1699.T',
 '1676.T',
 '1684.T',
 '1685.T',
 '1686.T',
 '1687.T',
 '1688.T',
 '1689.T',
 '1690.T',
 '1691.T',
 '1692.T',
 '1693.T',
 '1694.T',
 '1695.T',
 '1696.T',
 '1697.T']

In [6]:
# 終値のみを取得
def download_data_adjclose(codes):
    data =  pdr.get_data_yahoo(codes, start=START, end=END)['Adj Close']
    return data

# 各商品の１日あたりの対数収益率を計算、対数を取るのは収益率を正規分布に落とし込むため
def calc_D_returns(data):
    returns = np.log(data/data.shift(1))
    return returns

    # N = data.shape[0]
    # list_rate_of_return_per_term = list()
    # for j in range(N - D + 1):
    #     start = j
    #     end = j + D - 1
    #     rate_of_return = np.divide(
    #         data[end] - data[start], data[start]
    #     )
    #     list_rate_of_return_per_term.append(rate_of_return)
    # print()
    # return list_rate_of_return_per_term


    
data_adjclose = download_data_adjclose(valid_codes)
returns = calc_D_returns(data_adjclose)

[*********************100%***********************]  4 of 4 completed

In [7]:
data_adjclose

            1305.T  1306.T  1308.T  1348.T
Date
2012-01-04   756.0   753.0   744.0   757.0
2012-01-05   751.0   748.0   738.0   753.0
2012-01-06   744.0   740.0   729.0   745.0
2012-01-10   746.0   743.0   732.0   747.0
2012-01-11   746.0   743.0   733.0   749.0
...            ...     ...     ...     ...
2022-12-26  2006.5  1981.5  1962.5  1984.5
2022-12-27  2013.5  1992.5  1969.0  1995.0
2022-12-28  2011.0  1988.5  1967.5  1991.5
2022-12-29  1997.0  1977.0  1955.0  1979.0
2022-12-30  1999.0  1974.5  1953.0  1976.0

[2711 rows x 4 columns]

In [8]:
returns

              1305.T    1306.T    1308.T    1348.T
Date
2012-01-04       NaN       NaN       NaN       NaN
2012-01-05 -0.006636 -0.006662 -0.008097 -0.005298
2012-01-06 -0.009365 -0.010753 -0.012270 -0.010681
2012-01-10  0.002685  0.004046  0.004107  0.002681
2012-01-11  0.000000  0.000000  0.001365  0.002674
...              ...       ...       ...       ...
2022-12-26  0.002995  0.001768  0.003573  0.002270
2022-12-27  0.003483  0.005536  0.003307  0.005277
2022-12-28 -0.001242 -0.002010 -0.000762 -0.001756
2022-12-29 -0.006986 -0.005800 -0.006374 -0.006296
2022-12-30  0.001001 -0.001265 -0.001024 -0.001517

[2711 rows x 4 columns]

In [9]:
# 年次リターン
annual_returns = returns.mean()*YEARLY_TRAIDING_DAYS
# 各銘柄の共分散
cov_returns = returns.cov()*YEARLY_TRAIDING_DAYS

In [10]:
annual_returns

1305.T    0.090419
1306.T    0.089642
1308.T    0.089742
1348.T    0.089220
dtype: float64

In [11]:
cov_returns

          1305.T    1306.T    1308.T    1348.T
1305.T  0.036506  0.036106  0.035673  0.035289
1306.T  0.036106  0.036962  0.036066  0.035587
1308.T  0.035673  0.036066  0.036319  0.035366
1348.T  0.035289  0.035587  0.035366  0.036524

# 組合せ最適化

In [12]:
num_brand = len(valid_codes)

## 最大投資口数 K
K = 1000

## 共分散を考慮するパラメータ
gamma = 20

In [13]:
from amplify import BinarySymbolGenerator

# 変数の定義
x = BinarySymbolGenerator().array(num_brand, K)

# Unary法による非負整数wのバイナリ変数xによる表現
w = x.sum(axis=1)

In [14]:
from amplify import einsum


# 目的関数の定義
def setObjective(w, num_brand, expected_rate_of_return, variance_rate_of_return, gamma):
    """目的関数を定義
    ----------
    w: BinaryPolyArray
        各銘柄の購入口数を表す非負変数

    num_brand: int
        ポートフォリオを組む銘柄数

    expected_rate_of_return: np.ndarray
        期待収益率

    variance_rate_of_return: np.ndarray
        リスク分散

    gamma: float
        期待リスクの重要度を表すパラメータ

    Notes
    -----
    期待収益率の最大化と期待リスクの最小化
    期待収益率: E_w(R)
    期待リスク: V_w(R)
    目的関数 =  E_w(R) - gamma / 2 * V_w(R)
    """

    # 期待収益率の定義
    profit = einsum("i,i->", w, expected_rate_of_return)

    # 分散の定義
    risk = einsum("i,j,ij->", w, w, variance_rate_of_return)

    # 目的関数の定義
    objective = -profit + gamma * 0.5 * risk

    return objective, profit, risk

In [15]:
# 制約条件の定義
from amplify.constraint import equal_to


def setConstraint(w, K, num_brand):
    """制約式を定義

    Parameters
    ----------
    w: BinaryPoly
        各銘柄の購入口数を表す非負変数

    K: int
        全投資資産口数

    num_brand: int
        ポートフォリオを組む銘柄数

    Notes
    -----
    全投資資産はK口だけ
        \sum_{i=1}^n w_i = K
    """
    constraint = equal_to(w, K)

    return constraint

In [16]:
# ===================
# 目的関数と制約式の構築
# ===================
objective, _, _ = setObjective(
    w, num_brand, annual_returns.values, cov_returns.values, gamma
)
constraint = setConstraint(w, K, num_brand)

# 制約式の強さを表す係数
priority = 0.05

model = objective + priority * constraint

In [17]:
from amplify import Solver
from amplify.client import GurobiClient

client = GurobiClient()
# client.token = "DdYQS9jhLTCVAFJp4mQoCeHnwAKNeR3L" 
client.gurobi_path = "/Library/gurobi1001/macos_universal2/lib/libgurobi100.dylib"
client.parameters.time_limit = 10

# ソルバーを定義して実行
solver = Solver(client)
result = solver.solve(model)
if len(result) == 0:
    raise RuntimeError("Any one of constraints is not satisfied.")

# result配列にエネルギー値の昇順で解が格納される。よってresult[0]が最良の解。
energy, values = result[0].energy, result[0].values

Set parameter Username
Academic license - for non-commercial use only - expires 2024-05-29
Set parameter Username
Academic license - for non-commercial use only - expires 2024-05-29

In [18]:
def showSortedDataFrame(names, w_values, return_rates=None):
    """
    Parameters
    ----------
    names: list
        銘柄の名前

    return_rates: np.ndarray
        各銘柄の期待収益率

    w_values: BinaryPolyArray
        各銘柄の投資口数

    """
    if return_rates is None:
        df = pd.DataFrame(dict(brand_name=names, count=w_values.tolist()))
    else:
        df = pd.DataFrame(
            dict(brand_name=names, return_rate=return_rates, count=w_values.tolist())
        )

    # 投資口数が多い順にソート
    sorted_df = df.sort_values("count", ascending=False)

    # 表示する際には投資口数0の銘柄を表示しない
    display_df = sorted_df.query("count > 0")
    display(display_df.reset_index(drop=True))
    return display_df

In [19]:
# 各銘柄の投資口数が解である.
w_values = w.decode(result[0].values).astype(int)

# 投資口数の多い順に出力する
showSortedDataFrame(
    names=valid_codes, return_rates=annual_returns.values, w_values=w_values
)

  brand_name  return_rate  count
0     1305.T     0.090419   1000

  brand_name  return_rate  count
0     1305.T     0.090419   1000